@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;800;900&display=swap");

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.45;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
}
